.container {
  display: flex;
  align-items: center;
  margin: 10px;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

.container input {
  display: none !important;
}

.container .checkmark {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--main-bg-darker);
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset,
        var(--bg-color) 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  cursor: pointer;
  position: relative;
}

.container .checkmark::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease-in-out;
}

.container input:checked + .checkmark {
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, var(--bg-color) 0px 0px 0px 2px inset, var(--bg-color) 0px 0px 0px 24px inset,
        rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.container input:checked + .checkmark::after {
  background-color: var(--main-bg-color);
}

.container .label {
  margin-right: 10px;
  user-select: none;
  font-weight: 700;
  cursor: pointer;
}

.container {
  cursor: pointer;
}

.container input {
  display: none;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: var(--text-color);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}