/* MAIN */
/* =============================================== */
.radioInputWrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

 .radioInputWrapper.column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
 }

 .radioInputWrapper.row {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
 }

.label {
  display: flex;
  position:relative;
  align-items: center;
  padding: 14px 16px;
  margin: 5px 0;
  cursor: pointer;
  transition: .3s;
}

.label.rounded{
  border-radius: 100px;
  background-color: var(--main-bg-darker);
}

.label.squared{
  border-radius: 1px;
  background-color: transparent;
}


.label.rounded:hover,
.label.rounded:focus-within,
.label.rounded:active {
  background-color: var(--bg-secondary-color); 
}

.radioInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.radioDesign {
  width: 22px;
  height: 22px;
  position: relative;
}

.radioDesign.rounded {
  border-radius: 100px;
  background: linear-gradient(to right bottom, var(--main-bg-color), var(--bg-color));
  border: 2px solid var(--bg-secondary-color);
}

.radioDesign.squared {
  border-radius: 1px;
  border: 2px solid var(--text-color);
}

.radioInput:checked ~ .radioDesign.squared {
  border-radius: 100px;
  background-color: var(--text-color);
  opacity: .8;
}


.radioDesign::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: var(--main-bg-color);
  transform: scale(1.1);
  transition: .3s;
}

.radioInput:checked+.radioDesign::before {
  transform: scale(0);
}

.labelText {
  position:relative;
  margin-left: 14px;
  transition: .3s;
}

.label.squared > .labelText::before,
.label.squared > .labelText::after {
 content: '';
 top: 1.5em;
 left: 0;
 height: 2px;
 width: 0;
 bottom: 2px;
 position: absolute;
 background: var(--text-color);
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}
.label.squared > .labelText::before {
  left: 0;
}
.label.squared > .labelText::after {
  right: 50%;
}
.label.squared:active > .labelText::before,
.label.squared:active > .labelText::before,
.label.squared:hover > .labelText::before,
.label.squared:hover > .labelText::after {
  width: 100%;
}

.radioInput:checked~.labelText {
  color: var(--text-color); 
  font-size:1.1em;
}