.button {
	padding: var(--space-1);

	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);

	background-color: var(--main-bg-color);
	color: var(--text-color);

	display: flex;
	align-items: center;
	justify-content: center;
}

.selected {
	background-color: var(--bg-color);
}