.toolbar {
	background-color: var(--main-bg-darker);

	width: 100%;

	display: flex;
	flex-direction: row;

	align-items: center;
}

.separator {
	width: 1px;
	height: 50px;

	border: 0;
	border-right: 1px solid var(--border-color);
}